$beige: #E0E0D8;
$darkbeige: #A59C91;
$input: rgb(233, 233, 233);

input {
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: $input;
}

button {
  background-color: $beige ;
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  &:hover{
    background-color: $darkbeige;
  }
}
